html, body {
	height: 100%;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%
}

.col-icons,
.col-data-brief,
.col-data-full {
	float: left;
	height: 100%;
	overflow: auto;

}

.col-icons {
	width: 15%;
	background: #9da0a4;
}
.col-data-brief {
	width: 35%;
	background: #999999;
}

.col-data-full {
	width: 50%;
	background: #cccccc;
}







